html { overflow-x: hidden; font-size: 1vw; }
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    transition: 0s;
    text-align: center;
    background-size: 100%;
    font-family: 'K2D', sans-serif;
    background-image: url("../img/bgx.gif");
}
#main { top: 15%; position: relative; height: 33vw; width: 100vw; z-index: 1; }
p { padding: 1vw; font-size: 1.5vw; text-shadow: 2px 2px 4px rgba(0,0,0,50); color: rgb(253, 253, 253); }
#heirarchy-fix { position: relative; }
span { font-size: 1.5vw; text-shadow: 2px 2px 4px rgba(0,0,0,50); }
#text, #title-text { color: #ffffff; display: block; text-align: center; }
#title-text { width: 50vw; position: relative; left: 25%; }
h1 { font-size: 5em; text-shadow: 3px 3px 6px rgba(0,0,0,50); transition: 0s !important; position: relative; }
h2 { font-size: 4em; text-shadow: 2px 2px 4px rgba(0,0,0,50); position: absolute; top: 5%; left: 42.3%; }
h3 { font-size: 3em; text-shadow: 2px 2px 4px rgba(0,0,0,50); position: relative; top: 5%; }
#preview-img { width: 10vw; height: 10vw; }
/*img { text-align: center; margin: auto; display: block; border-radius: 2vw; padding: 1vw; }*/
#result { color: #90EE90; text-align: center; display: block; opacity: 0; transition: 0s; }
#result-url { color: #3366BB; text-decoration: none; width: 50vw !important; font-size: 4vw; white-space: nowrap; }
.settings { display:inline-block; width: 20vw; height: 20vw; text-align: center; position: relative; top: 5%; }
#preview { position: absolute; left: 33.8%; }
#mode { position: absolute; right: 21.3%; }
#preview-box { position: absolute; right: 32%; }
#mode-box { position: absolute; right: 52%; }
#settings-wrapper {
    width: 45vw;
    height: 100vw;
    border-width: 1vw;
    text-align: center;
    border-radius: 2vw;
    position: relative;
    word-wrap: break-word;
    border-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}
.settings-box { 
    width: 16vw;
    height: 30vw;
    border-width: 1vw;
    text-align: center;
    border-radius: 2vw;
    word-wrap: break-word;
    display: inline-block;
    border-color: #000000;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}
.switch {
    width: 15vw;
    height: 3vw;
    border: none;
    cursor: pointer;
    margin-top: 0.5vw;
    transition: all 0s;
    text-align: center; 
    border-radius: 2vw;
    transition-delay: 0s;
    color: rgb(253, 253, 253);
    background-color: #730698;
    text-shadow: 1vw 1vw 3vw rgba(0,0,0,50);
}
.switch:hover {
    right: 0;
    opacity: 1;
    transition: 0.2s;
    color: rgb(253, 253, 253);
    background-color: #53036f;
    box-shadow: 0.1vw 1vw 2vw rgba(0, 0, 0, 0.3);
}
.switch:focus { outline: none; }
.selector { font-size: 1.5vw; display: inline; position: absolute; }
#current { display: inline; text-align: center; position: absolute; left: 28.5%; font-size: 2vw; }
.default { position: absolute; top: 34.2%; }
.ext-mode { text-align: center; position: absolute; top: 46.8%; }
.ext-prev { text-align: center; position: absolute; top: 46.8%; left: 18.9% !important; }
#preview-1 { opacity: 1; top: 25.9%; right: 5%; }
#preview-0 { opacity: 0; top: 38.8%; right: 5%; }
#mode-0 { opacity: 1; top: 25.9%; right: 5%; }
#mode-1 { opacity: 0; top: 38.8%; right: 5%;}
input {
    height: 2vw;
    border: none;
    width: 35vw;
    font-size: 1vw;
    padding-left: 1vw;
    border-radius: 2vw;
    color: rgb(255, 255, 255);
    background-color: rgb(163, 67, 207);
    text-shadow: 2px 2px 4px rgba(0,0,0,50);
}
input:focus { outline: none; }
.enter { 
    width: 36vw;
    height: 2vw;
    border: none;
    cursor: pointer;
    margin-top: 0.5vw;
    border-radius: 1vw;
    color: rgb(253, 253, 253);
    background-color: #730698;
    text-shadow: 1vw 1vw 3vw rgba(0,0,0,50);
}
.enter:hover {
    right: 0;
    opacity: 1;
    transition: 0.2s;
    color: rgb(253, 253, 253);
    background-color: #53036f;
    box-shadow: 0.1vw 1vw 2vw rgba(0, 0, 0, 0.3);
}
.enter:focus { outline: none; }
#enter { padding-bottom: 1%; font-weight: bold; font-size: 1vw; position: absolute; top: 65%; left: 48.05%; }
::placeholder { color: rgb(253, 253, 253); text-shadow: none; opacity: 0.8; }
:-ms-input-placeholder { color: rgb(253, 253, 253); text-shadow: none; }
::-ms-input-placeholder { color: rgb(253, 253, 253); text-shadow: none; }
.footer {
    top: 90%;
    height: 6vw;
    color: white;
    position: fixed;
    text-align: center;
}
#base-footer { width: 100%; font-size: 3vw; padding-top: 1vw; padding-left: 0; padding-right: 0; }
#left-bar { left: 0; width: 24.96vw; background-color: rgba(0, 0, 0, 0.4); }
#right-bar { right: 0; width: 25.13vw; background-color: rgba(0, 0, 0, 0.4); }
#footer-url { color: white; text-decoration: none; position: absolute; left: 70.5%; }
#logo-desc { color: white; font-size: 1em; text-shadow: 2px 2px 4px rgba(0,0,0,50); position: absolute; top: -90%; left: -310.5%; }
#footer-music { position: absolute; right: 70.5%; }
#music-desc { color: white; font-size: 1em; text-shadow: 2px 2px 4px rgba(0,0,0,50); position: absolute; top: -39%; right: 61.1%; }
#footer-music:hover { cursor: pointer; }
#footer-music:focus { outline: none; }
#music-desc:hover { cursor: pointer; }
#music-desc:focus { outline: none; }